<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    

            <h1>hi bro</h1>
            <h2>thanks for getting in touch </h2>
            <h2>you contacted  <%= data.who%> in the departement  <%= data.which%> .</h2>
            <p> we will replay to you at <%= data.email %> </p>
</body> 
</html>