<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css.css">
    <title>Document</title>
</head>
<body bgcolor="silver">
        <%- include('./partials/header.ejs') %>  <!-- for escaping to get the output as string instead of html -->
        <div style="text-align: center;">
                <h1 style="color: brown;"> Wellcome to my project</h1>
                <h2 style="color:chocolate ;"> my project about simple node js app that make me learn step by step that plateform </h2>
        </div>
</body>
</html>