<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="cadetblue">
        <h1 style="color: orange"> hhh i'm using ejs engine in node js project </h1>
        <h2> the parametre that you send from route.ejs is <%= get_param %> </h2>
        <h2> Age : <%= data.age%> </h2>
        <h2> job : <%= data.job%></h2> 
        <hr>
        <div style="text-align: center;">
            <h2> Hobbies</h2>
            <ul>
                <% data.hobbies.forEach(function(item){ %>
                - <%= item %> </li> <br>
                <% });%>
            </ul>
        </div>
</body>
</html>     